<!--suppress HtmlFormInputWithoutLabel -->
<template name="inputs">
    <div class="container col-xs-12 col-md-3 col-lg-3">

        <!-- Inputs -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="main-heading">Inputs</span>
            </div>
            <div class="panel-body row">
                <div class="col-xs-12">
                    <div style="" class="panel-group panel-group-lists collapse in" id="inputs-accordion">

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="" data-toggle="collapse" data-parent="#inputs-accordion" href="#input1">
                                        input1
                                    </a>
                                </h4>
                            </div>
                            <div style="" id="input1" class="panel-collapse collapse in">
                                <div class="panel-body">


                                </div>
                            </div>
                        </div>


                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="" data-toggle="collapse" data-parent="#inputs-accordion" href="#input2">
                                        input2
                                    </a>
                                </h4>
                            </div>
                            <div style="" id="input2" class="panel-collapse collapse in">
                                <div class="panel-body">


                                </div>
                            </div>
                        </div>


                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="" data-toggle="collapse" data-parent="#inputs-accordion" href="#input3">
                                        input3
                                    </a>
                                </h4>
                            </div>
                            <div style="" id="input3" class="panel-collapse collapse in">
                                <div class="panel-body">


                                </div>
                            </div>
                        </div>


                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="" data-toggle="collapse" data-parent="#inputs-accordion" href="#input4">
                                        input4
                                    </a>
                                </h4>
                            </div>
                            <div style="" id="input4" class="panel-collapse collapse in">
                                <div class="panel-body">


                                </div>
                            </div>
                        </div>


                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="" data-toggle="collapse" data-parent="#inputs-accordion" href="#input5">
                                        input5
                                    </a>
                                </h4>
                            </div>
                            <div style="" id="input5" class="panel-collapse collapse in">
                                <div class="panel-body">


                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <input type="range" min="0" max="1" step="0.1" id=""/>


    </div>
</template>
