<!--suppress HtmlFormInputWithoutLabel -->
<template name="inputs">
    <div class="col-xs-12 col-md-3 hidden" id="inputs">

        <!-- Inputs -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="main-heading">Inputs</span>
            </div>
            <div class="panel-body neg-margin">
                <div class="col-xs-12">
                    <div style="" class="panel-group panel-group-lists collapse in" id="input-accordion">

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="" data-toggle="collapse" data-parent="#input-accordion" href="#moments">
                                        <b>Moments of Inertia</b>
                                    </a>
                                </h4>
                            </div>
                            <div style="" id="moments" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row margins text-center">
                                        <div class="col-xs-2">
                                            <b>I<sub>x</sub></b>
                                        </div>

                                        <div class="col-xs-10">
                                            <input type="range" min="0" max="1" step="0.1" value="1" id=""/>
                                        </div>
                                    </div>
                                    <div class="row margins text-center">
                                        <div class="col-xs-2">
                                            <b>I<sub>y</sub></b>
                                        </div>

                                        <div class="col-xs-10">
                                            <input type="range" min="0" max="1" step="0.1" value="1" id=""/>
                                        </div>
                                    </div>
                                    <div class="row margins text-center">
                                        <div class="col-xs-2">
                                            <b>I<sub>z</sub></b>
                                        </div>

                                        <div class="col-xs-10">
                                            <input type="range" min="0" max="1" step="0.1" value="1" id=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#input-accordion"
                                       href="#ang-vel">
                                        <b>Angular Velocities</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="ang-vel" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row margins text-center">
                                        <div class="col-xs-2">
                                            <b>&omega;<sub>x</sub></b>
                                        </div>

                                        <div class="col-xs-10">
                                            <input type="range" min="0" max="1" step="0.1" value="1" id=""/>
                                        </div>
                                    </div>
                                    <div class="row margins text-center">
                                        <div class="col-xs-2">
                                            <b>&omega;<sub>y</sub></b>
                                        </div>

                                        <div class="col-xs-10">
                                            <input type="range" min="0" max="1" step="0.1" value="1" id=""/>
                                        </div>
                                    </div>
                                    <div class="row margins text-center">
                                        <div class="col-xs-2">
                                            <b>&omega;<sub>z</sub></b>
                                        </div>

                                        <div class="col-xs-10">
                                            <input type="range" min="0" max="1" step="0.1" value="1" id=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#input-accordion"
                                       href="#torques">
                                        <b>Torques</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="torques" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row margins text-center">
                                        <div class="col-xs-2">
                                            <b>&tau;<sub>x</sub></b>
                                        </div>

                                        <div class="col-xs-10">
                                            <input type="range" min="0" max="1" step="0.1" value="1" id=""/>
                                        </div>
                                    </div>
                                    <div class="row margins text-center">
                                        <div class="col-xs-2">
                                            <b>&tau;<sub>y</sub></b>
                                        </div>

                                        <div class="col-xs-10">
                                            <input type="range" min="0" max="1" step="0.1" value="1" id=""/>
                                        </div>
                                    </div>
                                    <div class="row margins text-center">
                                        <div class="col-xs-2">
                                            <b>&tau;<sub>z</sub></b>
                                        </div>

                                        <div class="col-xs-10">
                                            <input type="range" min="0" max="1" step="0.1" value="1" id=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#input-accordion"
                                       href="#time">
                                        <b>Time</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="time" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row margins text-center">
                                        <div class="col-xs-2">
                                            <b>T</b>
                                        </div>

                                        <div class="col-xs-10">
                                            <input type="range" min="0" max="1" step="0.1" value="1" id=""/>
                                        </div>
                                    </div>
                                    <div class="row margins text-center">
                                        <div class="col-xs-2">
                                            <b>dt</b>
                                        </div>

                                        <div class="col-xs-10">
                                            <input type="range" min="0" max="1" step="0.1" value="1" id=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="margins btn btn-primary btn-block" id="create-button">Create
                        </button>
                        <button type="button" class="margins btn btn-primary btn-block" id="close-input-button">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
