<!--suppress HtmlFormInputWithoutLabel -->
<template name="inputs">
    <div class="container col-xs-12 col-md-3 col-lg-3">

        <!-- Inputs -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="main-heading">Inputs</span>
            </div>
            <div class="panel-body row">
                <!-- Moments of Inertia -->
                <div>
                    <div class="fill-width dark-grey">
                        <h5 class="white text-center sec-heading">Moments of Inertia</h5>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">I<sub>x</sub></span>
                            <input type="text" class="form-control" value="1" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">I<sub>y</sub></span>
                            <input type="text" class="form-control" value="1" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">I<sub>z</sub></span>
                            <input type="text" class="form-control" value="1" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>

                <!-- Angular Velocities -->
                <div>
                    <div class="fill-width dark-grey">
                        <h5 class="white text-center sec-heading">Angular Velocities</h5>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">&omega;<sub>x</sub></span>
                            <input type="text" class="form-control" value="1" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">&omega;<sub>y</sub></span>
                            <input type="text" class="form-control" value="1" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">&omega;<sub>z</sub></span>
                            <input type="text" class="form-control" value="1" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>

                <!-- Torques -->
                <div>
                    <div class="fill-width dark-grey">
                        <h5 class="white text-center sec-heading">Torques</h5>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">&#x1D70F;<sub>x</sub></span>
                            <input type="text" class="form-control" value="1" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">&#x1D70F;<sub>y</sub></span>
                            <input type="text" class="form-control" value="1" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">&#x1D70F;<sub>z</sub></span>
                            <input type="text" class="form-control" value="1" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>

                <!-- Time -->
                <div>
                    <div class="fill-width dark-grey">
                        <h5 class="white text-center sec-heading">Time</h5>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">T</span>
                            <input type="text" class="form-control" value="1" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">dt</span>
                            <input type="text" class="form-control" value="1" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="range" min="0" max="1" step="0.1" id=""/>

        <div class="col-md-6">
            <div style="" class="panel-group panel-group-lists collapse in" id="accordion2">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                Collapsible Group Item #1
                            </a>
                        </h4>
                    </div>
                    <div style="" id="collapseFour" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
