<!--suppress HtmlFormInputWithoutLabel -->
<template name="outputs">
    <div class="col-md-offset-9 col-xs-12 col-md-3 hidden" id="outputs">

        <!-- Outputs -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="main-heading">Outputs</span>
            </div>
            <div class="panel-body neg-margin">
                <div class="col-xs-12">
                    <div class="panel-group panel-group-lists collapse in" id="output-accordion">

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="" data-toggle="collapse" data-parent="#output-accordion" href="#graphs">
                                        <b>Graphs</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="graphs" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <canvas id="graphs-canvas" class="row"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#output-accordion"
                                       href="#output-val">
                                        <b>Output Values</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="output-val" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row text-center">
                                        <div class="col-xs-2">
                                            <b>&omega;<sub>x</sub></b>
                                        </div>
                                        <div class="col-xs-4" id="wxOutput">1.00</div>
                                        <div class="col-xs-2">
                                            <b>&omega;<sub>y</sub></b>
                                        </div>
                                        <div class="col-xs-4" id="wyOutput">1.00</div>
                                        <div class="col-xs-2">
                                            <b>&omega;<sub>z</sub></b>
                                        </div>
                                        <div class="col-xs-4" id="wzOutput">1.00</div>
                                        <div class="col-xs-2">
                                            <b>time</b>
                                        </div>
                                        <div class="col-xs-4" id="tOutput">1.00</div>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="row text-center">
                                        <div class="col-xs-2">
                                            <b>e<sub>0</sub></b>
                                        </div>
                                        <div class="col-xs-4" id="e0Output">1.00</div>
                                        <div class="col-xs-2">
                                            <b>e<sub>1</sub></b>
                                        </div>
                                        <div class="col-xs-4" id="e1Output">1.00</div>
                                        <div class="col-xs-2">
                                            <b>e<sub>2</sub></b>
                                        </div>
                                        <div class="col-xs-4" id="e2Output">1.00</div>
                                        <div class="col-xs-2">
                                            <b>e<sub>3</sub></b>
                                        </div>
                                        <div class="col-xs-4" id="e3Output">1.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="margins btn btn-primary btn-block" id="showgraphs-button">Show All
                            Graphs
                        </button>
                        <button type="button" class="margins btn btn-primary btn-block" id="close-output-button">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
