<template name="scene">
    <div class="col-xs-12 col-md-12" id="scene">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-md-4 col-centered">
                                <button type="button" class="btn btn-primary btn-block" id="inputs-button">Inputs
                                </button>
                            </div>
                        </div>
                    </div>
                    <span class="col-xs-4 main-heading text-center">Simulation</span>

                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-md-4 col-centered">
                                <button type="button" class="btn btn-primary btn-block" id="outputs-button">Outputs
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="scene-div">

                    <script>
                        var animate, camera, geometry, init, material, mesh, render, renderer, scene, webGlAvailable;
                        var sceneDiv = document.getElementById("scene-div");
                        webGlAvailable = function () {
                            var canvas;
                            try {
                                canvas = document.createElement('canvas');
                                return window.WebGLRenderingContext && (canvas.getContext('webgl') || canvas.getContext('experimental-webgl'));
                            } catch (_error) {
                                return false;
                            }
                        };
                        init = function () {
                            scene = new THREE.Scene;
                            camera = new THREE.PerspectiveCamera(50, sceneDiv.clientWidth / (window.innerHeight - 120), 1, 10000);
                            camera.position.z = 900;
                            scene.add(camera);
                            geometry = new THREE.BoxGeometry(200, 200, 200);
                            material = new THREE.MeshNormalMaterial;
                            mesh = new THREE.Mesh(geometry, material);
                            scene.add(mesh);
                            if (webGlAvailable()) {
                                renderer = new THREE.WebGLRenderer;
                            } else {
                                renderer = new THREE.CanvasRenderer;
                            }
                            renderer.setSize(sceneDiv.clientWidth, window.innerHeight - 120);
                            renderer.setClearColor(0xffffff, 1);
                            sceneDiv.appendChild(renderer.domElement);
                        };
                        animate = function () {
                            requestAnimationFrame(animate);
                            return render();
                        };
                        render = function () {
                            mesh.rotation.x += 0.01;
                            mesh.rotation.y += 0.02;
                            return renderer.render(scene, camera);
                        };
                        init();
                        animate();
                    </script>

                </div>
            </div>
        </div>
    </div>
</template>
