<template name="scene">
    <div class="col-xs-12 col-md-12" id="scene">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-md-4 col-centered">
                                <button type="button" class="btn btn-primary btn-block" id="inputs-button">Inputs
                                </button>
                            </div>
                        </div>
                    </div>
                    <span class="col-xs-4 main-heading text-center">Simulation</span>

                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-md-4 col-centered">
                                <button type="button" class="btn btn-primary btn-block" id="outputs-button">Outputs
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="scene-div">
                </div>
            </div>
        </div>
    </div>
</template>
